* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('controles aleatórios.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

hr {
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
    width: 100%;
}

.info-jogador {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.info-jogador input {
    padding: 10px;
    font-size: 16px;
}

.container-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.jogo button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
}

.jogador-atual {
    margin-top: 10px;
}

#ranking {
    list-style: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 100%;
}
